<table>
    <thead>
        <tr>
            <td *ngFor="let col of columns" class="withBorder">{{col.title}}</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of data">
            <td *ngFor="let column of columns">
                <span>{{item[column.col]}}</span>
                <ng-container #dynamicContainerNew></ng-container>
            </td>
            <td>
                <input type="button" value="remove" (click)="removeRow(item)" />
            </td>
        </tr>
    </tbody>
</table>